@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vg1avj');
  src:  url('fonts/icomoon.eot?vg1avj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vg1avj') format('truetype'),
    url('fonts/icomoon.woff?vg1avj') format('woff'),
    url('fonts/icomoon.svg?vg1avj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e902";
}
.icon-mode_edit:before {
  content: "\e908";
}
.icon-trash:before {
  content: "\e903";
}
.icon-trashcan:before {
  content: "\e905";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-user:before {
  content: "\e971";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-cog:before {
  content: "\e994";
}
.icon-sleepy:before {
  content: "\e9fd";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-plus:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e901";
}
.icon-paper-plane:before {
  content: "\e900";
}
.icon-send:before {
  content: "\e900";
}
